*{
    padding: 0;
    margin: 0;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
.bigbox{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: hsl(216, 50%, 16%);
    padding: 5px;
}
.bigbox img{
    padding: 10px;
    border-radius: 5%;
    max-width: 100%;
}
.bigbox h2{
    color: hsl(0, 0%, 100%);
    padding: 10px;
}
.bigbox p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    padding: 10px;
    font-family: 'Outfit', sans-serif;
}
.row{
    background: none;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: space-between;
}
.ethereum{
    background: none;
    color: hsl(178, 100%, 50%);
    align-items: center;
    display: flex;
}
.ethereum img{
    background: none;
    align-items: center;
}
.time{
    background: none;
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.line hr{
    border-color: hsl(215, 51%, 70%);
    margin: 10px;
}