*{
    padding: 0;
    margin: 0;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
.bigbox{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: hsl(216, 50%, 16%);
    padding: 5px;
}
.bigbox img{
    padding: 10px;
    border-radius: 5%;
    max-width: 100%;
    position: relative;
    display: inline-block;
}
.icon-hover{
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
 .icon-hover:hover{
    /* background-color: hsl(178, 100%, 50%); */
    opacity: 0.3;
    position: absolute;
    display: inline-block;
}
.bigbox h2{
    color: hsl(0, 0%, 100%);
    padding: 10px;
}
.bigbox h2:hover{
    color: hsl(178, 100%, 50%);
}
.bigbox p{
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    padding: 10px;
    font-family: 'Outfit', sans-serif;
}
.row{
    background: none;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: space-between;
}
.ethereum{
    background: none;
    color: hsl(178, 100%, 50%);
    align-items: center;
    display: flex;
}
.ethereum img{
    background: none;
    align-items: center;
}
.time{
    background: none;
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.line hr{
    border-color: hsl(215, 51%, 70%);
    margin: 10px;
}
.creation{
    display: flex;
    align-items: center;
    gap: 1px;
}
.creation p{
    font-size: 18px;
}
.creation img{
    height: 30px;
}
.creation span {
    color:hsl(0, 0%, 100%);
}
.creation span:hover{
   color: rgb(26, 177, 184);
}